<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template is working</title>
</head>
<body>
     <h1>welcome to the text analyzer.enter your text below</h1>
     <form action="/analyze" method="get">
         <textarea name="text" style="margin: 0px; width: 678px; height: 60px;"></textarea> <br>
         <input type="checkbox" name="removepunc">Remove Punctuation <br>
         <input type="checkbox" name="fullcaps">UPPER CASE <br>
         <button type="submit">Analyze Text</button>
     </form>
</body>
</html>