/* new logos 22-9-2017 different heights*/
#login_btn+div {
    min-height:98px;
}
.NYH #login_btn+div {   
    top: -65px;   
}
.IMP #login_btn+div {   
    top: -65px;   
}
.GEN #login_btn+div {   
    top: -53px;   
}

/*Copenhagen island forside H1*/
.ISL .frontpage-header #searchboxcon H1{font-size:39px;}

/*default forside H1 med stort forsidebilled*/
#header.frontpage-header #searchboxcon H1{
    font-size:39px;
    color: #fff; 
    text-shadow: 2px 2px 2px rgba(51,51,51,0.8);
    text-align:center;
    margin:0px;
    padding:0px;   
}

#header.frontpage-header #searchboxcon .csc-header.csc-header-n1{
   position:relative;
     /*top:calc(20% - 48px);  */
     top:calc(20% - 76px);
    width:100%;
}
.frontpage-header #searchboxcon .conferencebookcon{
  position:relative;
   top:calc(40% - 172px);  
}

.frontpage-header #searchboxcon .asb-cgc{
  position:relative;
   /* top:calc(40% - 144px);  */
   top:calc(40% - 172px);  
}
.frontpage-header .topspacercontainer {
    min-height: 0px;
    margin-top: 0px;
}
#header.frontpage-header>div:first-child {height:100%;background-size:cover;}
.container.frontpage {margin-top: 20px;}
.TIV-KON .container.frontpage {margin-top: 60px;}

#header.frontpage-header, #header.frontpage-header .header-container, #header.frontpage-header .header-container .visible-md-blok, #header.frontpage-header .header-container .container, #header.frontpage-header .header-container .row, #header.frontpage-header .header-container .right-top-container{height:100%;}
html,body {
    height:100%;
}
html {
    overflow-x: visible;
     -ms-overflow-x: visible;
}
body{
    overflow-x: visible;
     -ms-overflow-x: visible;
}
#searchboxcon {
    position: relative;
    z-index: 999;
    top: 0px;
    height:calc(100% - 160px);
}



/*RESPONSIVE*/
@media only screen and (max-width: 991px)
{
  #header.frontpage-header>div:first-child {
      height: 500px;
  }
  #header.frontpage-header, #header.frontpage-header .header-container, #header.frontpage-header .header-container .visible-md-blok, #header.frontpage-header .header-container .container, #header.frontpage-header .header-container .row, #header.frontpage-header .header-container .right-top-container{height:auto;}
  #header.frontpage-header .header-top-mobil.frontpage .buttons H1{
      font-size:26px;
      color: #fff; 
      text-shadow: 2px 2px 2px rgba(51,51,51,0.8);
      text-align:center;
      margin:0px 0px 70px 0px;
      padding:0px;    
      
  }
  .header-top-mobil .buttons {
      margin-top: 115px;
  }
  .TIV-KON .header-top-mobil .buttons {
      margin-top: 180px;
  }
  
  
  .container.frontpage {
      margin-top: 500px;
  }
  .TIV-KON .container.frontpage {margin-top: 515px;}

}
@media only screen and (max-height: 700px)
{
  #header.frontpage-header #searchboxcon .csc-header.csc-header-n1{
  top:13%;   
  }
  #header.frontpage-header #searchboxcon H1 {
    font-size: 34px;
  }
  .frontpage-header #searchboxcon .asb-cgc {
    top: calc(45% - 116px);
}
  .frontpage-header #searchboxcon .conferencebookcon{
    top: calc(45% - 116px);
}

}
@media only screen and (max-height: 500px)
{
#searchboxcon {
    position: relative;
    z-index: 999;
    top: 0px;
    height: auto;
    top: 63px;
}
}